#appRoot {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}

.user-input > form {
  margin: 3px;
  padding: 3px;
}

.make-active {
  color: green;
}

.make-inactive {
  color: grey;
}

.arrange-bar > button {
  margin: 3px;
  padding: 3px;
}

.contain-result {
  display: flex;
  flex-direction: row;
  min-width: 600px;
  background-color: #f6f6f6;
}
.contain-result > article {
  margin: 3px;
  margin-left: 9px;
  padding: 3px;
}

.contain-result > section {
  margin-top: 20px;
  padding: 3px;
  margin-left: 9px;
  flex-grow: 1;
  min-height: 200px;
}

.people-list-header {
  opacity: 0.65;
  padding-bottom: 9px;
}

.personalize-card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.personalize-card > h1 {
  min-width: 320px;
  flex-grow: 1;
  min-height: 41px;
  margin-bottom: 0px;
  opacity: 0.6;
}

.personalize-card > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: left;
  max-height: 200px;
}

.equalize-people-filled {
  table-layout:fixed;
  text-align: left;
  width: 100%;
}

.equalize-people-filled > tbody {
  cursor: pointer
}

.equalize-people-filled > tbody > tr:nth-child(odd) {
   background-color: whiteSmoke;
}

.equalize-people-filled > tbody > tr:hover{
   background-color: white;
}

.equalize-people-filled > tbody > tr[data-selected=true]{
  color: green;
  background-color: white;
  opacity: 0.7;
}

.equalize-people-empty {
  table-layout:fixed;
  text-align: left;
  width:100%;
}

hr {
  width: 1px;
  background-color: ivory;
}

@media screen and (max-width: 1024px) {
  .contain-result {
    flex-direction: column;
  }
}
